.sectionPaisDetalle {
  flex-direction: column;
  margin: 2rem 2rem 3rem 2rem;
}

.sectionPaisDetalle_divDetalle{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 1rem;
  margin: 8rem 0 1rem 0;
}

.divDetalle_divPais{
  background-color: #8e7852;
  border-radius: 30px;
  box-shadow: 11px 11px 15px 0px #00000069;
}

.divDetalle_divActividades{
  background-color: #8e7852;
  border-radius: 30px;
  box-shadow: 11px 11px 15px 0px #00000069;
  padding: 2rem;
}

.divActividades_h2 {
  font-size: 1.5rem;
  margin: 1rem;
}