.sectionHome{
  display: flex;
  flex-direction: column;
}

.sectionHome_h1{
  display: flex;
  justify-content: center;
}

.sectionHome_divFiltro{
  display: flex;
  justify-content: center;
}

.sectionHome_button{
    display: flex;
    justify-content: center;
}

