.divLanding{
  position: absolute;
  background-image: url("https://images.alphacoders.com/106/106413.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
  width: 100%;
  color: #fbfff8;

  display: grid;
}
 
.divLanding_h3{
  text-align: right;
  margin: 1rem 0;
  font-size: 6rem;
  padding: 1rem 6rem 6px;
  color: #000a30;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-weight: bold;
  font-family: 'Charm', cursive;
  text-shadow: 2px 2px 3px white;
}

.divLanding_a{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: auto;
  text-decoration: none;
}

.divLanding_boton{
  background-image: url('../imagenes/boton.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: whitesmoke;
  margin: 2rem;
  padding: 0.5rem 4rem;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: 'Cormorant SC', serif;
}
