.divLanding{
  position: absolute;
  background-image: url("https://images.alphacoders.com/106/106413.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
  width: 100%;
  color: #fbfff8;

  display: grid;
}
 
.divLanding_h3{
  text-align: right;
  margin: 1rem 0;
  font-size: 3rem;
  padding: 1rem 6rem 6px;
  color: #000d37;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-weight: bold;
}

.divLanding_a{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: auto;
}

.divLanding_boton{
  background-image: url('../imagenes/boton.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  margin: 2rem;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
