
.sectionPaisDetalle_imagen{
  width: 25rem;
  margin: 1rem;
  box-shadow: 3px 9px 9px 2px #3e2c169e;
}

.sectionPaisDetalle_h3{
  font-size: 3rem;
  margin: 1rem;
  font-family: 'Cormorant SC', serif;
}

.sectionPaisDetalle_ps{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: start;
  grid-gap: 0.5rem;
}

.sectionPaisDetalle_p{
  font-size: 1rem;
}